/* GENERAL RULES */
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

/* HEADER */

header{
  color:#7e7e7e;
  height:90px;
  width:100%;
}



#headcontainer{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin:0 auto;
}

#logo{
  display: flex;
  align-items: center;
  width:30%;
}

#logo span{
  margin-right: 20px;
}

#logo img{
  width:50%;
  margin-right:25px;
}

ul li{
  display:inline-block;
  margin-right: 10px;
}

.wd90{
  width:90%;
  position:absolute;
  left:5%;
}

.hidden{
  display: none;
  position:absolute;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  margin-top:20px;
  line-height: 3;
  padding:0 15px 15px 15px;
}

.big{
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-top:10px;
}

nav ul li ul li{
  display: block;
  font-size: 15px;
}

select{
  border: none;
  appearance:none;
}

option{
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  margin-top:10px;
  line-height: 3;
  padding: 15px;
}

button{
  background-color: #eb008d;
  color:white;
  border-radius: 15px;
  padding: 8px 18px;
  border:none;
}

li a:hover , li span:hover{
  text-decoration: underline;
  cursor: pointer;
  color:black;
}
